/brain tumor segmentation LGG/data/
/Fashion and Cifar/data/*
/Fashion and Cifar/cifar-10-batches-py
/Fashion and Cifar/models/*
/Food classification - transfer learning/data/*
!/Food classification - transfer learning/data/Readme.md

*.zip

*.pt

*.pyc

*.gz
